---
export const prerender = true;
import Layout from '../layouts/Layout.astro';
import { supabase } from "../../utils/supabase";
const {data,errors}:any=await supabase.from('Post') .select("*");
---

<Layout title="Welcome to Astro.">
		{
			data.map((post:any)=><div >
				<img style="width: 100px;" src={post.image}/>

				<h2>
					{post.title}</h2></div>)
		}
</Layout>

