---
export const prerender = true;
import Layout from '../layouts/Layout.astro';
import { supabase } from "../../utils/supabase";
const {data,errors}:any=await supabase.from('Post') .select("*");
---

<Layout title="Welcome to Astro.">
		{
			data.map((post:any)=><div >
				<img src={post.image}/>
				
				{post.title}</div>)
		}
</Layout>

