---
export interface Props {
	title: string;
}

const { title } = Astro.props;
import { caching } from 'cache-manager';
const memoryCache = await caching('memory', {
  max: 100,
  ttl: 10 * 1000 /*milliseconds*/,
});
const ttl = 5 * 1000; /*milliseconds*/
await memoryCache.set('foo', 'bar', ttl);
const data=await memoryCache.get('foo');
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<a href="/" class="p-5 bg-blue-300">Go to Home {data}</a>

		<slot />
	</body>
</html>
<style is:global>

</style>
